!!!
%html
  %head
    %link{:href => '/stylesheet.css', :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src   => "/javascript/jquery.js" }
    %script{:type => "text/javascript", :src   => "/javascript/jquery.timer.js" }
    %script{:type => "text/javascript", :src   => "/javascript/application.js" }
    %meta{:name => 'keywords', :content => "#{HASHTAG}, Forward Technology"}
    %meta{:name => 'description', :content => "#{HASHTAG} dashboard"}
    %meta{:name => 'author', :content => 'Andrew Nesbitt'}
    %title= HASHTAG
  %body
    #logo
    #forward
    #message
      Welcome to
      = HASHTAG
    #wifi
      wifi: ForwardStage
      %br
      pass: f0rw4rdst4g3
    #twitter
      ="@forwardtek<br/>#{HASHTAG}"